<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <!-- jquery -->
    <script src="{{ url_for('static', filename='assets/jquery.js') }}"> </script>

    <!-- select2 -->
    <link href="{{ url_for('static', filename='assets/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='assets/select2/dist/js/select2.min.js') }}"> </script>

    <!-- Favicons -->
    <link href="{{url_for('static', filename='assets/img/favicon.pn') }}" rel="icon">
    <link href="{{url_for('static', filename='assets/img/apple-touch-icon.pn') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->

    <!-- boostrap  -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->

    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">PerpustakaanSLHNias</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                    <span class="d-none d-md-block ps-2 m-3"> {{ session['id'] }}</span>
                </a><!-- End Profile Iamge Icon -->


                <a class="nav-link " href="{{ url_for('logout') }}">
                    <i class="bi bi-grid"></i>
                    <span>Log Out</span>
                </a>

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="{{ url_for('home') }}">
                    <!-- kasih link index.html ************ -->
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#master-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="master-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ url_for('pageAnggotaPerpustakaan') }}">
                            <i class="bi bi-circle"></i><span>Anggota Perpustakaan</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('PageJudulBuku') }}">
                            <i class="bi bi-circle"></i><span>Judul Buku</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('penerbit') }}">
                            <i class="bi bi-circle"></i><span>Penerbit</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('kategori') }}">
                            <i class="bi bi-circle"></i><span>Kategori</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('penulis') }}">
                            <i class="bi bi-circle"></i><span>Penulis</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('pageDenda') }}">
                            <i class="bi bi-circle"></i><span>Denda</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End master Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#pencatatan-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-arrow-left-right"></i><span>Pencatatan</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="pencatatan-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a href="{{ url_for('pagePinjam') }}">
                            <i class="bi bi-circle"></i><span>Peminjaman</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('pagePengembalian') }}">
                            <i class="bi bi-circle"></i><span>Pengembalian</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('pageBayarDenda') }}">
                            <i class="bi bi-circle"></i><span>Bayar Denda</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End pencatatan Nav -->

            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('PageHistoryPeminjaman') }}">
                    <i class="bi bi-person"></i>
                    <span>Histori Peminjaman</span>
                </a>
            </li><!-- End Profile Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('PageHistoryPengembalian') }}">
                    <i class="bi bi-person"></i>
                    <span>Histori Pengembalian</span>
                </a>
            </li><!-- End Profile Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{% block pagetitle %}{% endblock %}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">{% block masterpagetitle %}{% endblock %}</a></li>
                    {% block subpagetitle %}{% endblock %}
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div id="container_alert">

            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}

            <div class="alert alert-primary alert-dismissible fade show alert-{{ category }}" role="alert">
                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- block konten -->
            {% block content %}
            <div>

            </div>
            {% endblock %}

        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- jquery
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
</body>

</html>



<script>
    function messageAlert(msg, flag) {
        let html = `
    <div class="alert alert-primary alert-dismissible fade show alert-` + flag + `" role="alert">
      ` + msg + `
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  `;
        $('#container_alert').append(html);

        // Menutup pesan alert setelah 5 detik
        setTimeout(function () {
            console.log("cek")
            $('.alert-' + flag).alert('close');
        }, 5000);
    }       
</script>
{% block script %}
{% endblock script %}