{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block pagetitle %}Dashboard{% endblock %}

{% block content %}

<div class="row">

    <!-- Anggota Card -->
    <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
            <div class="card-body">
                <h5 class="card-title">Anggota</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{ data ['result'][0]['count'] }}</h6>

                    </div>
                </div>

            </div>
        </div>
    </div><!-- End Anggota Card -->

    <!-- Buku Card -->
    <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
            <div class="card-body">
                <h5 class="card-title">Buku</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-book"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{ jumlahbuku ['result'][0]['count'] }}</h6>

                    </div>
                </div>

            </div>
        </div>
    </div><!-- End Buku Card -->
    <div class="alert alert-primary fade show" role="alert">
        <h4 class="alert-heading">INFORMASI</h4>
        <p>Selamat Datang di Website Perpustakaan SMA Swasta Lentera Harapan Nias.
            Silahkan pergunakan informasi yang terdapat pada aplikasi ini dengan sebaik-baiknya.</p>
        <hr>
        <p class="mb-0">Jam operasional 07.30-15.30</p>
    </div>

</div>


</a>
<br>
<br>
<br>

</div>
{% endblock %}