{% extends "users/usersBase.html" %}
{% block content %}

<!-- Table with hoverable rows -->
<div class="card">
    <div class="card-header">
        <h3 class="m-3">

            total denda yang belum dibayar : Rp. {{ user['result'][0]['totaldenda'] if user['result'][0]['totaldenda'] else 0 }}

        </h3>
    </div>
    <div class="card-body">
        <div class="search-bar col-md-5 m-2">

            <input type="text" name="search" id="search" placeholder="Search" class="form-control"
                title="Enter search keyword">
        </div><!-- End Search Bar -->
        <div class="table-responsive">
            <table class="table table-hover left " id="table_buku">
                <thead>
                    <tr>
                        <th scope="col">no seri</th>
                        <th scope="col">Nama Buku</th>
                        <th scope="col">tanggal Peminjaman </th>
                        <th scope="col">Batas Pengembalian</th>
                        <th scope="col">Batas Pengembalian</th>
                    </tr>
                </thead>
                <tbody>

                    {% for dt in data['result'] %}
                    <tr>
                        <td style="width: 5%">{{dt['idbuku']}}</td>
                        <td style="width: 20%">{{ dt['namabuku'] }}</td>
                        <td style="width: 20%">{{ dt['tanggalpeminjaman'] }}</td>
                        <td style="width: 20%">{{ dt['bataspengembalian'] }}</td>
                        <td style="width: 20%">{{ dt['massapeminjamansebelumbataspengembalian'] }} Hari lagi</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

{% block script %}
<script>
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table_buku tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });

        });

</script>
{% endblock script %}