{% extends "users/usersBase.html" %}

{% block title %}Index{% endblock %}
{% block pagetitle %}Dashboard{% endblock %}

{% block content %}

<div class="row">

    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card mt-5">

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form action="{{ url_for('usersChangePassword') }}" method="POST" style="width: 23rem;" id="">

                        <h3 class="font-weight-bold my-2 mb-3 fw-bold">Change password</h3>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="psw-sekarang">Masukan password sekarang</label>
                            <input type="password" id="psw-sekarang" name="psw_sekarang" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="new_psw">Password baru</label>
                            <input type="password" id="new_psw" name="new_psw" class="form-control form-control-lg" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="confirm_new_psw">Confirm password baru</label>
                            <input type="password" id="confirm_new_psw" name="confirm_new_psw" class="form-control form-control-lg" />
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-outline-dark" type="submit">Ubah password</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>




</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}

{% block script %}
<script>


</script>
{% endblock script %}