{% extends "base.html" %}

{% block title %}Master - Anggota{% endblock %}
{% block masterpagetitle %}Master{% endblock %}
{% block pagetitle %}Anggota{% endblock %}
{% block subpagetitle %}<li class="breadcrumb-item active">Anggota</li>{% endblock %}
{% block content %}

<!-- Table with hoverable rows -->
<div class="card">
    <div class="card-header">
        <form action="{{ url_for('registerAnggota') }}" method="post">
            <div class="row my-2">
                <div class="col-md-3">
                    <label for="id" class="form-label fw-bold">NISN / NUPTK</label>
                    <input type="number" class="form-control" id="id" name="id" required>
                </div>

                <div class="col-md-2">
                    <label for="nama" class="form-label fw-bold">nama</label>
                    <input type="text" class="form-control" id="nama" name="nama" required>
                </div>
                <div class="col-md-2">
                    <label for="email" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-2">
                    <label for="tanggalLahir" class="form-label fw-bold">Tanggal Lahir</label>
                    <input type="date" class="form-control" id="tanggalLahir" name="tanggalLahir" required>
                </div>
                <div class="col-md-2">
                    <label for="kategori" class="form-label fw-bold">kategori</label>
                    <select id="kategori" name="kategori" class="form-control" style="width: 100%;"
                        placeholder required>
                        <option value="" disabled selected hidden>Pilih Kategori...</option>
                        <option value="guru">guru</option>
                        <option value="siswa">siswa </option>
                    </select>
                </div>

            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Tambah Anggota</button>
            </div>

        </form>

    </div>
    <div class="card-body">
        <div class="search-bar col-md-5 m-3">
            <input type="text" name="search" id="search" placeholder="Search" class="form-control"
                title="Enter search keyword">
        </div><!-- End Search Bar -->
        <div class="table-responsive">
            <table class="table table-hover left " id="table_buku">
                <thead>
                    <tr>
                        <th scope="col">NISN / NUPTK</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Email</th>
                        <th scope="col">kategori</th>
                        <th scope="col">total Denda </th>

                    </tr>
                    <!-- id, nama, email, tanggallahir , kategori -->
                </thead>
                <tbody>
                    {% for dt in data['result'] %}


                    <tr>
                        <td>{{ dt['id'] }}</td>
                        <td>{{ dt['nama'] }}</td>
                        <td>{{ dt['email'] }}</td>
                        <td>{{ dt['kategori'] }}</td>
                        <td>Rp. {{ dt['totaldenda'] }}00</td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    

    $(document).ready(function () {
        $.fn.select2.defaults.set("theme", "bootstrap4");
        $('#kategori').select2({});

    })


</script>
{% endblock script %}
