{% extends "base.html" %}

{% block title %}Master - Judul buku - buku{% endblock %}
{% block masterpagetitle %}Master{% endblock %}
{% block pagetitle %}Buku{% endblock %}
{% block subpagetitle %}<li class="breadcrumb-item"> <a href="{{ url_for('PageJudulBuku') }}"> Judul Buku</a> </li>
<li class="breadcrumb-item active">Buku</li>
{% endblock %}
{% block content %}

<!-- Table with hoverable rows -->
<div class="card">
    <div class="card-header">
        <h3 class="m-3">
            {{ judulBuku['result'][0]['nama'] }}
        </h3>
    </div>
    <div class="card-body">
        <div class="search-bar col-md-5 m-2">

            <input type="text" name="search" id="search" placeholder="Search" class="form-control"
                title="Enter search keyword">
        </div><!-- End Search Bar -->
        <div class="table-responsive">
            <table class="table table-hover left " id="table_penerbit">
                <thead>
                    <tr>
                        <th scope="col">no seri</th>
                        <th scope="col">Tanggal Masuk</th>
                        <th scope="col">Ketersediaan </th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for dt in data['result'] %}
                    <tr>
                        <td style="width: 5%">{{dt['id']}}</td>
                        <td style="width: 20%">{{ dt['tanggalmasuk'] }}</td>
                        <td style="width: 10%"> <span class="badge 
                            {% if dt['status'] == 'tersedia' %} 
                                bg-primary
                            {% else %}
                                bg-secondary
                            {% endif %}" >
                                {{ dt['status'] }} </span> </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary m-2">Edit</button>
                            <button type="button" class="btn btn-outline-danger m-2">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>


</script>
{% endblock script %}